<div class="col s12 m6 product-card">
  <div class="card ">
    <div class="card-image">
      <img src={{product.image}} alt="{{product.name}}"/>
    </div>
    <div class="card-content">
      <span class="card-title">{{product.name}}</span>
      <p class="product-rating">
        Rating: <strong>{{product.rating}}</strong>
      </p>
      <p class="product-price">
        Price: <strong>{{product.priceWithCurrency}}</strong>
      </p>
      <p class="product-description">{{product.description}}</p>
    </div>
    <div class="card-action">
      {{#if isInCart class="in-cart"}}
        <button class="btn" {{action "removeFromCart"}}>Remove from Cart</button>
      {{else}}
        <button class="btn" {{action "addToCart"}}>Add to Cart</button>
      {{/if}}
    </div>
  </div>
</div>
